@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html, body, #root {
  width: 100%;
  height: 100%;

  min-width: 700px;
  min-height: 700px;
}

body {
  font-size: 16px;
  color: black;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  overflow: auto;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
  word-break: break-word;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  color: white;
  word-break: break-word;
}

hr { 
  margin: 0;
}

a {
  word-break: break-word;
}

li {
  margin-bottom: 1em;
  word-break: break-word;
}

img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

div {
  display: flex;
}

.main {
  width: 100%;
  height: 100%;
}

.main-container {
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 1em;
}

.main-stage-center {
  height: 95%;
  width: 80%;
}

.main-stage-contain {
  flex: 1 0 auto;
  justify-content: center;
}

.main-stage-wrapper {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main-stage {
  width: 100%;
  height: 100%;
  position: relative;
}

.svg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-modal {
  width: 90%;
  height: 90%;

  max-width: 90% !important;

  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.step-content {
  flex-direction: column;
  overflow: auto;
}

.modal-body {
  overflow: auto;
  max-height: 75vh;
}


